@model MvcMovie.Models.Client
@{
    Layout = "~/Views/Admin/_Layout.cshtml";
}
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Client</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SecondName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SecondName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccountType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State.PinCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State.PinCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State.CreditCardID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State.CreditCardID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back", "Index", "Admin")
</p>
