@model IEnumerable<MvcMovie.Models.Client>
@{
    Layout = "~/Views/Admin/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<h2>Clients</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Admin")
    @Html.ActionLink("Search", "Search", "Admin")

</p>
<table>
    <tr>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.SecondName)
        </th>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.AccountType)
        </th>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.State.BankID)
        </th>
        
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.State.BankMoney)
        </th>
        
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.State.BankProcents)
        </th>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.State.CreditMoney)
        </th>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.State.CreditProcents)
        </th>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.State.CreditCardID )
        </th>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.State.PinCode)
        </th>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.State.CardMoney)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td align="center" style="border: gray solid thin">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td align="center" style="border: gray solid thin">
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td align="center" style="border: black solid thin">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td align="center" style="border: black solid thin">
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td align="center" style="border: black solid thin">
                @Html.DisplayFor(modelItem => item.AccountType)
            </td>
            <td align="center" style="border: black solid thin">
                @Html.DisplayFor(modelItem => item.State.BankID)
            </td>
            
            <td align="center" style="border: black solid thin">
                @Html.DisplayFor(modelItem => item.State.BankMoney)
            </td>
            <td align="center" style="border: black solid thin">
                @Html.DisplayFor(modelItem => item.State.BankProcents)
            </td>
            <td align="center" style="border: black solid thin">
                @Html.DisplayFor(modelItem => item.State.CreditMoney)
            </td>
            <td align="center" style="border: black solid thin">
                @Html.DisplayFor(modelItem => item.State.CreditProcents)
            </td>
            <td align="center" style="border: black solid thin">
                @Html.DisplayFor(modelItem => item.State.CreditCardID )
            </td>
            <td align="center" style="border: black solid thin">
                @Html.DisplayFor(modelItem => item.State.PinCode)
            </td>

            <td align="center" style="border: black solid thin">
                @Html.DisplayFor(modelItem => item.State.CardMoney)
            </td>
            
            <td align="center" style="border: black solid thin">
                @Html.ActionLink("Delete", "Delete", new {id = item.ID})
            </td>
        </tr>
    }
</table>
