@model MvcMovie.Models.Client

@{
    Layout = "~/Views/Clients/_Layout.cshtml";
}

@{
    ViewBag.FirstName = "Index";
}

<h2>Client</h2>

@Html.ActionLink("Edit", "Edit", new {id = Model.ID})
@Html.ActionLink("Delete", "Delete", new {id = Model.ID})
@Html.ActionLink("Operations", "Operations", "Clients")

      

<table>
    <tr>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.SecondName)
        </th>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.AccountType)
        </th>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.State.BankID)
        </th>
        
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.State.BankMoney)
        </th>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.State.BankProcents)
        </th>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.State.CreditMoney)
        </th>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.State.CreditProcents)
        </th>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.State.CreditCardID)
        </th>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.State.PinCode)
        </th>
        <th align="center" style="border: gray solid thin">
            @Html.DisplayNameFor(model => model.State.CardMoney)
        </th>
    </tr>
    <tr>
        <td align="center" style="border: gray solid thin">
            @Html.DisplayFor(model => model.FirstName)
        </td>
        <td align="center" style="border: gray solid thin">
            @Html.DisplayFor(model => model.SecondName)
        </td>
        <td align="center" style="border: gray solid thin">
            @Html.DisplayFor(model => model.Email)
        </td>
        <td align="center" style="border: gray solid thin">
            @Html.DisplayFor(model => model.Password)
        </td>
        <td align="center" style="border: gray solid thin">
            @Html.DisplayFor(model => model.AccountType)
        </td>
        <td align="center" style="border: gray solid thin">
            @Html.DisplayFor(model => model.State.BankID)
        </td>
        
        <td align="center" style="border: gray solid thin">
            @Html.DisplayFor(model => model.State.BankMoney)
        </td>
        
        <td align="center" style="border: gray solid thin">
            @Html.DisplayFor(model => model.State.BankProcents)
        </td>
        <td align="center" style="border: gray solid thin">
            @Html.DisplayFor(model => model.State.CreditMoney)
        </td>
        <td align="center" style="border: gray solid thin">
            @Html.DisplayFor(model => model.State.CreditProcents)
        </td>
        <td align="center" style="border: gray solid thin">
            @Html.DisplayFor(model => model.State.CreditCardID)
        </td>
        <td align="center" style="border: gray solid thin">
            @Html.DisplayFor(model => model.State.PinCode)
        </td>
        <td align="center" style="border: gray solid thin">
            @Html.DisplayFor(model => model.State.CardMoney)
        </td>

    </tr>
</table>        
 