@using System.Web.Mvc
@using System.Web.Mvc.Html
@using MvcMovie.Models
@model Client[]
@{
    Layout = "~/Views/Clients/_Layout.cshtml";
}

@{
    ViewBag.FirstName = "SearchIndex";
}

<h2>Search clients</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Admin")

    @using (Html.BeginForm("SearchIndex", "Clients", FormMethod.Get))
    {
        <p>
            name: @Html.TextBox("name", Model.First().FirstName)
            surname: @Html.DropDownList("surname", "All")<br/>

            <input type="submit" value="Filter"/>
        </p>
    }
</p>

<table>
    <tr>
        <th>
            @Html.DisplayName(Model.First().FirstName)
        </th>
        <th>
            @Html.DisplayName(Model.First().SecondName)
        </th>
        <th>
            @Html.DisplayName(Model.First().Email)
        </th>
        <th>
            @Html.DisplayName(Model.First().AccountType)
        </th>
        <th>
            @Html.DisplayName(Model.First().State.BankMoney.ToString())
        </th>
        <th>
            @Html.DisplayName(Model.First().State.BankProcents.ToString())
        </th>
        <th>
            @Html.DisplayName(Model.First().State.CreditMoney.ToString())
        </th>
        <th>
            @Html.DisplayName(Model.First().State.CreditProcents.ToString())
        </th>
        <th>
            @Html.DisplayName(Model.First().State.CreditCardID)
        </th>
        <th>
            @Html.DisplayName(Model.First().State.PinCode)
        </th>
        <th>
            @Html.DisplayName(Model.First().State.CardMoney.ToString())
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => ((Client)item).FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => ((Client)item).SecondName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => ((Client)item).Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => ((Client)item).AccountType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => ((Client)item).State.BankMoney)
        </td>
        <td>
            @Html.DisplayFor(modelItem => ((Client)item).State.BankProcents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => ((Client)item).State.CreditMoney)
        </td>
        <td>
            @Html.DisplayFor(modelItem => ((Client)item).State.CreditProcents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => ((Client)item).State.CreditCardID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => ((Client)item).State.PinCode)
        </td>

        <td>
            @Html.DisplayFor(modelItem => ((Client)item).State.CreditMoney)
        </td>
        
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
