@using System.Web.Mvc
@using System.Web.Mvc.Html
@model IEnumerable<MvcMovie.Models.Client>
@{
    Layout = "~/Views/Clients/_Layout.cshtml";
}

@{
    ViewBag.FirstName = "SearchIndex";
}

<h2>Search Clients</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Admin")

    @using (Html.BeginForm("SearchIndex", "Clients", FormMethod.Get))
    {
        <p>
            SecondName: @Html.DropDownList("secondName", "All")   
          
            FirstName: @Html.TextBox("firstName", "")<br/>
            <input type="submit" value="Filter"/>
        </p>
    }
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.BankMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.BankProcents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.CreditMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.CreditProcents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.CreditCardID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.PinCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.CardMoney)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(model => item.AccountType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.BankMoney)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.BankProcents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.CreditMoney)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.CreditProcents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.CreditCardID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.PinCode)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.State.CreditMoney)
        </td>
        
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
